@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .fade-in-out {
        animation: fadeInOut 3s ease-in-out infinite; /* Continuous fade-in and fade-out */
    }

    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0.8; /* Start and end slightly faded */
        }
        50% {
            opacity: 1; /* Fully visible in the middle */
        }
    }

    .zoom-in-out {
        animation: zoom-in 2s infinite alternate; /* Continuous zoom in and out */
    }

    @keyframes zoom-in {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1); /* Adjust scale for zoom-in effect */
        }
        100% {
            transform: scale(1); /* Back to original */
        }
    }
}
